

  .custom-nav {
    background-color: rgb(29, 28, 28);
    padding: 20px 30px 20px 20px;
    width: 100%;
  }
  
  .list-style {
    color: #fcfcfc;
    padding: 20px;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    list-style-type: none;
    display: inline-block;
  
    margin-left: 24px;
  }
  
  .list-style:hover {
    background-color: cadetblue;
    border-radius: 8px;
    transform: scale(0.95);
  }
  
  .list-style:active {
    background-color: cadetblue;
  }
  .menu{
    margin-top: 25px;
   justify-content: flex-end;
   }
 
  
  @media(max-width: 999px){
  .menu{
    position: fixed;
    right: -280px;
    top:64;
    width: 280px;
    height: 32%;
    background: #222;
    transition: 0.4s ease-in-out;
   
  }
  .list-style {
    display: block;
    text-align: left;
    text-align: start;
    margin: 0;
    padding: 12px 155px 10px 26px;
    border-bottom: 1px solid #312f2f;
  
  }
  .menu_icon{
    display:inline-block;
    position: relative;
    right: 0;
    top: 20 px;
  }
  
  
  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.2s ease-in-out;
  
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  
  }
  .menu_iconClass span:nth-child(2){ 
  display: none;
  }
  
  .menu_iconClass span:nth-child(1){
    transform: rotate(40deg);
  }
  
  
  .menu_iconClass span:nth-child(3){
  
    transform: rotate(-40deg);
    margin-top: -3px;
  }
  
  .menuClasses{
  
  right: 0;
  transition: 0.4s ease-in-out;
  
  }
  }
  