<div class="container-fluid">
  <div class="image-background">
    <div class="overlay-form">
      <br />

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="mb-2">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            formControlName="firstName"
          />
        </div>
        <div class="mb-2">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            formControlName="lastName"
          />
        </div>

        <div class="mb-2">
          <label for="address" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            formControlName="address"
          />
        </div>
        <div class="mb-2">
          <label for="address" class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="mb-2">
          <label class="form-label">Gender</label>
          <div class="form-check">
            <input
              type="radio"
              id="gender-male"
              class="form-check-input"
              name="gender"
              value="Male"
              formControlName="gender"
            />
            <label class="form-check-label" for="gender-male">Male</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="gender-female"
              class="form-check-input"
              name="gender"
              value="Female"
              formControlName="gender"
            />
            <label class="form-check-label" for="gender-female">Female</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              id="gender-other"
              class="form-check-input"
              name="gender"
              value="Others"
              formControlName="gender"
            />
            <label class="form-check-label" for="gender-other">Others</label>
          </div>
        </div>
        <br />

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!contactForm.valid"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
